body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: #ffffffe7;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

span {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 5px 3px 0px black;
}
span:after {
  display: block;
  position: absolute;
  width: 100%;
  content: "";
  border-bottom: 1px solid black;
  padding: 0 0 0.4em 2em;
  left: -0.7em;
  animation: 3s ease-out 0s slideInFromLeft;
}
strong {
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}

a {
  color: gray;
  text-decoration: none;
  &:hover {
    color: black;
  }
  &:active {
    color: gray;
  }
}

.flex-nav {
  display: block;
  ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    list-style: none;
    li {
      font-size: 18px;
      margin: 0 16px 0 0;
    }
  }
}

.container {
  margin: 0;
  padding: 0 16px;
  max-width: 1300;
  width: 100%;
}

.grid {
  > [class*="column-"] {
    padding: 1rem;
  }
  &.menu,
  &.product {
    border-bottom: 0.0625rem solid gray;
  }
  &.menu {
    > [class*="column-"] {
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }
  &.second-nav {
    > [class*="column-"] {
      padding: 0.5rem 1rem;
    }
  }
  &.product {
    padding: 0 0 1.5rem 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
  li {
    font-size: 18px;
    letter-spacing: 0.125rem;
  }
}

.nav-item {
  &::before {
    content: "/";
    display: inline-block;
    padding: 0 5px;
    color: #aca4a4;
  }
}

:root {
  --color-inactivo: #5f5050;
  --color-hover: #ffa400;
}
.assessment {
  display: flex;
  margin: 0 0 0 0;
  flex-direction: row-reverse;
  padding-top: 9px;
}

.assessment ul {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: end;
  color: #aca4a4;
  list-style: none;
  li {
    font-size: 18px;
    margin: 0 12px 0 0;
  }
}

.assessment button {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all;
}
.assessment button:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

button:nth-child(2):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
  color: var(--color-hover);
  transform: rotate(360deg);
}

.column-img {
  display: block;
  flex: 2;
  padding: 10px;
  margin: 10px;


}

.column-text {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.row {
  content: "";
  display: flex;
  clear: both;
}

img {
  align-items: center;
  padding: 0 0 0 0;
  margin: 0 0 0 9rem;
  width: 70%;
}

.row-ls > .columnls {
  padding: 0 0 0 0;
}

.row-ls:after {
  content: "";  
  display: table;
  clear: both;
}

.columnls {
  float: left;
  width: 23.4%;
  margin: 0 0 0 0;
  
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}