
body {
  font-family: "Pontano Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: #fff;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 16px 0 0;
  }
}

.flex-nav {
  display: block;
  ul {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    li {
        font-size: 18px;
        margin: 0 16px 0 0;
    }
  }
}

.container{
    margin: 0;
    padding:  0 16px;
    max-width: 1200px;
    width: 100%;
    
}


